body {
  margin: 0;
  overflow: hidden;
  font-family: system-ui;
  font-family: -apple-system, BlinkMacSystemFont, 'system-ui';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
